body {
  font-family: sans-serif;
  background-color: white;
}

h1 {
	text-align: center;
	font-size: 25pt;
}

p  {
	font-size: 15pt;
}

#corps {
	width: 19cm;
}

#entete {
  width: 19cm;
	height: 3cm;
	margin: auto;
}

#tab-resultats {
	width: 19cm;
  margin: 20pt auto auto auto;
  font-size: 11pt;
}

.ligne-nom {
	font-size: 20pt;
	text-align: center;
}

.titre-cell, .titre-col {
  font-weight: bold;
}

.cell, .titre-cell, .titre-col {
  padding: 5pt;
}

.cell {
  text-align: left;
}

.centrer {
  margin: auto;
  text-align: center;
}

.noprint {
    display: none;
}
